<h1 class="text-2xl font-bold mb-4">Experience</h1>
<span class="font-bold"> Versia Sistemas TI | 2022 - 2023 </span><br />
<span class="text-gray-500"> Fullstack Developer </span><br />
<ul class="mt-2 ml-8 list-disc">
  <li>
    Contributed to the development of an app built with Vue.js and Spring for
    REST services for the Basque Government.
  </li>
  <li>
    Worked on applications to automate repetitive tasks such as Selenium in
    Python or UiPath.
  </li>
  <li>Led the team in task assignment and weekly meetings</li>
</ul>

<div class="mt-12">
  <span class="font-bold"> Orvium Labs SL | 2023 - Present </span><br />
  <span class="text-gray-500"> Fullstack Developer </span><br />
  <ul class="mt-2 ml-8 list-disc">
    <li>
      Worked on Maskots application built on Angular, NestJS and MongoDB using
      AWS services.
    </li>
    <li>
      Worked on the Aqmetrix application built in Angular and Express JS. Used
      bitbucket-pipelines for automatic deployment of the application.
    </li>
  </ul>
</div>
