/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #181c14;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}

.typewriter {
  display: inline;
  white-space: pre-wrap;
}

.typewriter::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: black;
  animation: blink 1s step-end infinite;
  vertical-align: bottom;
}

@keyframes blink {
  0% {
    background-color: black;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: black;
  }
}

.finished::after {
  content: none;
}
